<% include header %>
<div id="seatBooking">
  <div class="row">
    <div class="col-md-8">
      <h4><span class="text-muted">Showing Seats for </span> <%=dateOfJourney.toDateString()%> <span class="text-muted"> and bus number </span><%=busNumber%></h4>
    </div>
    <div class="col-md-4">
      <form class="form-inline" method="POST" action="/seat/booking">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Change date" name="journeydate">
        </div>
        <div class="form-group">
          <select class="form-control" name="busnumber">
            <% for(var i=0; i < busNumbers.length; i++) { %>
              <option value="<%=busNumbers[i]%>"><%=busNumbers[i]%></option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-danger">Go</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
	<div class="row">
	  <div class="col-md-6">
      <p class="text-muted">Click on seats to select for booking</p>
	  	<div class="seats-container" id="sleeperBookingMap">
	  		<h4><span class="label label-default">Sleeper</span></h4>
	  		<% include sleeperview%>
	  	</div>

	  	<div class="seats-container" id="seatBookingMap">
	  		<h4><span class="label label-default">Seater</span></h4>
	  		<% include seatsview%>
	  	</div>
	  </div>
	  <div class="col-md-6 booking-form">
      <div>
        <h4 style="color:#bbb">CUSTOMER DETAILS</h4>
        <form role="form" class="form-horizontal" id="seatBookingForm" action="/seat/dobooking" method="POST">
          <div class="row">
            <input type="hidden" name="seat_numbers">
            <input type="hidden" name="booking_type" value="seat">
            <input type="hidden" name="journey_date" value="<%=dateOfJourney%>">
            <input type="hidden" name="seat_type" value="seat">
            <input type="hidden" name="bus_number" value="<%=busNumber%>">
            <div class="col-md-10 col-md-offset-1">
              <input type="text" class="form-control" name="customer_name" placeholder="Customer Name">
            </div>
            <div class="col-md-5 col-md-offset-1">
              <input type="text" class="form-control" name="phone_number" placeholder="Phone Number"/>
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="departure_time" placeholder="Dep. Time"/>
            </div>
            <div class="col-sm-5 col-md-offset-1">
              <input type="text" class="form-control" name="amount" placeholder="Amount"/>
            </div>
            <div class="col-sm-5">
              <select class="form-control" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
            <div class="col-sm-3 col-md-offset-8">
              <button type="submit" class="form-control btn btn-primary pull-right">BOOK</button>
            </div>
          </div>
        </form>
      </div>

	  </div>
	</div>
</div>
<% include footer %>
