<% include header %>
<div class="row">
	<div class="col-md-8">
		<h4>
			<span style="color:#bbb">Showing bookings for </span> <%=dateOfJourney.toDateString()%><span class="text-muted"> and bus number </span><%=busNumber%>
		</h4>
	</div>
	<div class="col-md-4">
		<form class="form-inline" method="GET" action="/seat/bookinghistory">
			<div class="form-group">
	    	<input type="text" class="form-control" placeholder="Change booking date" name="bookingdate">
			</div>
	    <div class="form-group">
	    	<select class="form-control" name="busnumber">
		    	<% for(var i=0; i < busNumbers.length; i++) { %>
		    		<option value="<%=busNumbers[i]%>"><%=busNumbers[i]%></option>
		    	<% } %>
		    </select>
	    </div>
	    <div class="form-group">
	    	<button type="submit" class="btn btn-default btn-danger">Go</button>
	    </div>
	  </form>
	</div>
</div>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Booking id</th>
      <th>Seats</th>
      <th>Departure time</th>
      <th>Date of booking</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<% if(seats.length == 0) { %>
  		<tr><td><h4 class="text-primary text-center">No bookings available for this date</h4></td></tr>
  	<% } %>
		<% for (var i=0; i < seats.length; i++) { %>
	    <tr>
	  		<td><%=seats[i].customerName%></td>
			  <td><%=seats[i].bookingId%></td>
			  <td><%=seats[i].seats%></td>
			  <td><%=seats[i].departureTime%></td>
			  <td><%=seats[i].bookingDate.toDateString()%></td>
			  <td><%=seats[i].amount%></td>
			  <td>
			  	<a class="btn btn-primary btn-sm" href="/seat/viewticket/<%=seats[i].bookingId%>">View/Print</a>
			  	<button class="btn btn-danger btn-sm seat-cancel-btn" data-bookingid="<%=seats[i].bookingId%>">Cancel</button>
			  </td>
	    </tr>
		<% } %>
  </tbody>
</table>
<% include footer %>